.paypalButtonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.paypalButtonGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.paypalButton {
    border: 1px solid darkgrey;
    margin: 1rem;
    padding: 1rem;
    text-align:center;
    font-weight: bold;
}

.paypalButtonGroupHide {
    display:none;
}
