.adBanner {
    background-color: var(--ifm-footer-background-color);
    text-align: center;
    padding: 2rem;
    justify-content: center;
    display: flex;
}

.adBanner .adContainer {
    width: 30rem;
    justify-content: center;
    align-items: center;
    padding-left:1rem;
    padding-right:1rem;
}